In [3]:

import pandas as pd
from  sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
import joblib

In [4]:
data = {
    'Math': [78, 45, 90, 35, 65, 82, 30, 40, 55, 92],
    'Science': [69, 40, 95, 30, 70, 75, 20, 45, 60, 98],
    'English': [72, 39, 88, 25, 60, 85, 28, 50, 58, 93],
    'Result': ['Pass', 'Fail', 'Pass', 'Fail', 'Pass', 'Pass', 'Fail', 'Fail', 'Pass', 'Pass']
}
df = pd.DataFrame(data)
df

   Math  Science  English Result
0    78       69       72   Pass
1    45       40       39   Fail
2    90       95       88   Pass
3    35       30       25   Fail
4    65       70       60   Pass
5    82       75       85   Pass
6    30       20       28   Fail
7    40       45       50   Fail
8    55       60       58   Pass
9    92       98       93   Pass

In [ ]:
#encoding the result col data into numerical format so that ml model 
#can understand the output data
df['Result'] = df['Result'].map({'Pass': 1, 'Fail': 0})
df

   Math  Science  English  Result
0    78       69       72       1
1    45       40       39       0
2    90       95       88       1
3    35       30       25       0
4    65       70       60       1
5    82       75       85       1
6    30       20       28       0
7    40       45       50       0
8    55       60       58       1
9    92       98       93       1

In [6]:
# Feature and label
X = df[['Math', 'Science', 'English']] #Independent variable (i/p)
Y = df['Result'] #Dependent variable (o/p)

In [7]:
print(X)

   Math  Science  English
0    78       69       72
1    45       40       39
2    90       95       88
3    35       30       25
4    65       70       60
5    82       75       85
6    30       20       28
7    40       45       50
8    55       60       58
9    92       98       93

In [8]:
print(Y)

0    1
1    0
2    1
3    0
4    1
5    1
6    0
7    0
8    1
9    1
Name: Result, dtype: int64

In [11]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=42)
# X_train using for 80% data i/p variable for training purpose
# X_train using for 20% data i/p variable for training purpose
# Y_train using for 80% data o/p variable for training purpose
# Y_train using for 20% data o/p variable for training purpose

In [12]:

X_train

   Math  Science  English
5    82       75       85
0    78       69       72
7    40       45       50
2    90       95       88
9    92       98       93
4    65       70       60
3    35       30       25
6    30       20       28

In [13]:
X_test

   Math  Science  English
8    55       60       58
1    45       40       39

In [14]:
Y_train

5    1
0    1
7    0
2    1
9    1
4    1
3    0
6    0
Name: Result, dtype: int64

In [15]:
Y_test

8    1
1    0
Name: Result, dtype: int64

In [16]:
# Train model
model = LogisticRegression()
model.fit(X_train, Y_train)

LogisticRegression()

In [17]:
#save model
joblib.dump(model, 'model.pkl')
#run train_model.py and you will get model.pkl

['model.pkl']

In [ ]:
Math = int(input('Enter the marks of Math'))
Science = int(input('Enter the marks of Science'))
English = int(input('Enter the marks of English'))
result = model.predict([[Math, Science, English]])
if result == 1:
    print('Pass')
else:
    print('Fail')

Fail

c:\Users\gumma\OneDrive\Desktop\AI STACK TRNG\CICDProject\myenv\lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(